.container {
    font-family: 'Minecraftia';
    display: flex;
}

.instructions {
    margin-top: 50px;
    margin-left: 20px;
}

body {
    background-image: url(home_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}